<apex:page standardController="Presupuestador__c" id="pg" extensions="guardarycrear"  applyHtmlTag="true" showHeader="true" action="{!Init}">
    <head>
        <apex:slds />
        <apex:stylesheet value="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"  />
        <apex:includeScript value="https://code.jquery.com/jquery-1.9.1.js" />
        <apex:includeScript value="https://code.jquery.com/ui/1.10.3/jquery-ui.js" />
    </head>
    <Style>
        
        .checkmark {
        display:inline-block;
        width: 22px;
        height:22px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        }
        
        .ui-datepicker-calendar {
        display: none;
        }
        
        .checkmark_stem {
        position: absolute;
        width:3px;
        height:9px;
        background-color:#2a8509;
        left:11px;
        top:6px;
        }
        
        .checkmark_kick {
        position: absolute;
        width:3px;
        height:3px;
        background-color: #2a8509;
        left:8px;
        top:12px;
        }
        
        .displaynone{
        display: none;
        }
        
        .input-date{
        text-align: right;
        font-family: 'Salesforce Sans',Arial,sans-serif;
        font-size: 100%;
        font-weight: bold;
        color: #36364e;
        }
        
        .spinner{
        position:fixed;
        width: 100%;
        height: 100%;
        top: 50%;
        bottom: 50%;
        right:50%;
        left: 50%;
        
        
        z-index:9999;
        }
        
        #cover-spin {
        position:fixed;
        width:100%;
        left:0;right:0;top:0;bottom:0;
        background-color: rgba(255,255,255,0.7);
        z-index:9999;
        }
        
        
        #cover-spin::after {
        content:'';
        display:block;
        position:absolute;
        left:48%;top:40%;
        width:40px;height:40px;
        }
        
    </Style>
    
    <apex:sectionHeader title="{!$ObjectType.Presupuestador__c.label} Edit" subtitle="{!Presupuestador__c.name}"/>
    <apex:form id="fm">
        <apex:pageBlock title="{!$ObjectType.Presupuestador__c.label} Edit" mode="inlineEdit" id="pb" >
            <apex:pageMessages id="msgs" showDetail="false"/>
            <apex:actionStatus id="pageStatus">
                <apex:facet name="start">
                    <apex:outputPanel >
                        <div id="cover-spin">
                        </div>
                        <div class="spinner">
                            <img src="/img/loading32.gif"/>
                            <apex:outputLabel value="Loading..."/> 
                        </div>
                    </apex:outputPanel>            
                </apex:facet>
            </apex:actionStatus>
            <apex:pageBlockButtons >
                
                <apex:commandButton action="{!save}" value="Guardar" status="pageStatus" rerender="msgs"/>
                <apex:commandButton action="{!saveAndNew}" value="Guardar & Crear" status="pageStatus"  rerender="msgs"/>
                <apex:commandButton action="{!cancel}" value="Cancelar"/>
            </apex:pageBlockButtons>
            
            <apex:pageBlockSection showHeader="false" title="" columns="2" id="pbs_selector">
                <apex:inputField id="pres_look" value="{!Presupuestador__c.Presupuestos__c}" />
                
                <apex:inputField value="{!Presupuestador__c.Estado__c}" Required="True"/>
                
                <apex:inputField value="{!Presupuestador__c.Partner__c}">
                    <apex:actionSupport event="onchange" action="{!Init}" reRender="versiones,Tabla,sDl"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.Forma_de_Pago__c }">
                    <apex:actionSupport event="onchange" action="{!Init}" reRender="Tabla,speditsect11"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.Selector_de_Divisa__c}" > <!-- Required="True" -->
                    <apex:actionSupport event="onchange" action="{!Divisa}" reRender="versiones,speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.Presupuestador__c}">
                    <apex:actionSupport event="onchange" action="{!Init}" reRender="versiones, Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.Fecha_de_Inicio__c}">
                    <apex:actionSupport event="onchange" action="{!Init}" reRender="versiones, Tabla"></apex:actionSupport>
                </apex:inputField>
                
            </apex:pageBlockSection>
            <!--  <hr style="margin: 0px 0px 0px 0px;border-top: 1px solid rgb(236, 236, 236);"></hr>
<table class="detailList" border="0" cellpadding="0" cellspacing="0">  
<tbody>
<tr>
<th class="labelCol vfLabelColTextWrap  last" scope="row"><label for="startDate" class="input-date">Fecha de Viaje</label></th>
<td class="dataCol  last"><input name="startDate" id="startDate" class="date-picker"/></td>
<th class="labelCol vfLabelColTextWrap  last" scope="row"></th>
<td class="dataCol  last"></td>
</tr>

</tbody>
</table> -->
            <apex:outputPanel id="versiones">
                <hr style="margin: 0px 0px 0px 0px;border-top: 1px solid rgb(236, 236, 236);"></hr>
            <apex:pageblockSection columns="2" id="pbs_selector1_2">
                <apex:inputField id="cotizar_divisa2" value="{!Presupuestador__c.Cotizaci_n_de_Divisa__c}" html-disabled="true" style="background: transparent;border: none">
                    <apex:actionSupport event="onchange" action="{!Divisa}" reRender="speditsect11,Tabla"></apex:actionSupport><br/>
                    <apex:outputLink value="{!LinkDivisa}">{!findDivisaPrice}</apex:outputLink>
                </apex:inputField>
                <apex:outputText id="divisa_fecha" label="Fecha de Cotización de Divisa" value="{!fecha_divisa}">
                </apex:outputText>
                
                <!--     <apex:inputHidden Id="fecha_inicio2" value="{!Presupuestador__c.Fecha_de_Inicio__c}"/> -->
            </apex:pageblockSection>
            
            <!------------------------------------------------------->
            <apex:pageBlockSection showHeader="true" title="" columns="2" id="pbs_selector2" rendered="{!presupuesto.Presupuestador__c == 'Version 2'}">
                
                <apex:inputField id="semanas_id" value="{!Presupuestador__c.Semanas__c}"> <!-- onchange="selecSemanas(this.value)" -->
                    <apex:actionSupport event="onchange" action="{!Precios}" reRender="speditsect11,Tabla,error_msg"></apex:actionSupport>
                    <apex:outputText id="error_msg" value="{!errorMessage}" styleClass="errorMsg"/>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.Inscripci_n__c}" >
                    <apex:actionSupport event="onchange" action="{!Precios}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.Curso_Obligatorio_2__c}" > 
                    <apex:actionSupport event="onchange" action="{!Precios}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.GCC__c}" >
                    <apex:actionSupport event="onchange" action="{!Precios}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.Curso_Opcional__c}" >
                    <apex:actionSupport event="onchange" action="{!Precios}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.Materiales__c}" >
                    <apex:actionSupport event="onchange" action="{!Precios}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.Hospedaje__c}" >
                    <apex:actionSupport event="onchange" action="{!Precios}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField id="sDl" value="{!Presupuestador__c.Servicio_de_Limpieza__c}" rendered="{!Presupuesto.Partner__c == 'CELTIC'}">
                    <apex:actionSupport event="onchange" action="{!Precios}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.Seguro_Medico__c}">
                    <apex:actionSupport event="onchange" action="{!Precios}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.Visa__c}" >
                    <apex:actionSupport event="onchange" action="{!Precios}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.Traslado_desde_Aeropuerto__c}" >
                    <apex:actionSupport event="onchange" action="{!Precios}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField id="sDv" value="{!Presupuestador__c.Semanas_de_Verano__c}" rendered="{!Presupuesto.Partner__c == 'CELTIC'}">
                    <apex:actionSupport event="onchange" action="{!Precios}" reRender="speditsect11,Tabla"></apex:actionSupport>
                    
                </apex:inputField>
                
                  <apex:inputField value="{!Presupuestador__c.Comentarios_Presupuesto__c}" >
                    
                </apex:inputField>
            </apex:pageBlockSection>
            <!----------------------------------------------------------------->
            <apex:pageBlockSection title="" columns="3" id="pbs_selector3" rendered="{!presupuesto.Presupuestador__c == 'Version 1'}">
                
                <!-- Curso Obligatorio -->
                <apex:inputField value="{!Presupuestador__c.Curso_Obligatorio_2__c}" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.CI1__c}" label="Cantidad" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.UI1__c}" label="Valor Unitario" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <!-- Curso Obligatorio -->
                
                <!-- Curso Opcional -->
                <apex:inputField value="{!Presupuestador__c.Curso_Opcional__c}" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.CI2__c}" label="Cantidad" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.UI2__c}" label="Valor Unitario" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <!-- Curso Opcional -->
                
                <!-- Hospedaje -->
                <apex:inputField value="{!Presupuestador__c.Hospedaje__c}" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.CI3__c}" label="Cantidad" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.UI3__c}" label="Valor Unitario" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <!-- Hospedaje -->
                
                <!-- Inscripcion -->
                <apex:inputField value="{!Presupuestador__c.Inscripci_n__c}" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.CIN__c}" label="Cantidad" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.UIN__c}" label="Valor Unitario" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <!-- Inscripcion -->
                
                <!-- Materiales -->
                <apex:inputField value="{!Presupuestador__c.Materiales__c}" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.CM__c}" label="Cantidad" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.UM__c}" label="Valor Unitario" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <!-- Materiales -->
                
                <!-- GCC -->
                <apex:inputField value="{!Presupuestador__c.GCC__c}" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.CG__c}" label="Cantidad" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.UG__c}" label="Valor Unitario" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <!-- GCC -->
                <!-- Traslado_desde_Aeropuerto__c -->
                <apex:inputField value="{!Presupuestador__c.Traslado_desde_Aeropuerto__c}" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.CA1__c}" label="Cantidad" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.UA1__c}" label="Valor Unitario" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                
                <!-- Traslado_desde_Aeropuerto__c -->
                
                
                
                <!-- Seguro_Medico__c -->
                <apex:inputField value="{!Presupuestador__c.Seguro_Medico__c}" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.CA2__c}" label="Cantidad" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.UA2__c}" label="Valor Unitario" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <!-- Seguro_Medico__c -->
                
                <!-- Visa__c -->
                
                <apex:inputField value="{!Presupuestador__c.Visa__c}" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.CVs__c}" label="Cantidad" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.UVs__c}" label="Valor Unitario" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcant}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <!-- Visa__c -->
                
                
                  <apex:inputField value="{!Presupuestador__c.Comentarios_Presupuesto__c}" >
                    
                </apex:inputField>
                </apex:pageBlockSection>
            
            
            <!--Version libre de presupuesto---> 
            
          <apex:pageBlockSection title="" columns="3" id="pbs_selector4" rendered="{!presupuesto.Presupuestador__c == 'Version 3'}">
              <apex:inputField value="{!Presupuestador__c.Texto1__c}" label="Programa">
                    <apex:actionSupport event="onchange" action="{!Preciosxcantv3}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
              <apex:inputField value="{!Presupuestador__c.CantText1__c}" label="Cantidad" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcantv3}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.VUtext1__c}" label="Valor Unitario" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcantv3}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
             <!----------------------------------------------->
              
              <apex:inputField value="{!Presupuestador__c.Texto2__c}" label="Detalle">
                    <apex:actionSupport event="onchange" action="{!Preciosxcantv3}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
              <apex:inputField value="{!Presupuestador__c.CantText2__c}" label="Cantidad" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcantv3}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.VUtext2__c}" label="Valor Unitario" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcantv3}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>

            <!----------------------------------------------->              
              <apex:inputField value="{!Presupuestador__c.Texto3__c}" label="Detalle">
                    <apex:actionSupport event="onchange" action="{!Preciosxcantv3}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
              <apex:inputField value="{!Presupuestador__c.CantText3__c}" label="Cantidad" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcantv3}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.VUtext3__c}" label="Valor Unitario" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcantv3}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
              <!-----------------------------------------------> 
              <apex:inputField value="{!Presupuestador__c.Texto4__c}" label="Detalle">
                    <apex:actionSupport event="onchange" action="{!Preciosxcantv3}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
              <apex:inputField value="{!Presupuestador__c.CantText4__c}" label="Cantidad" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcantv3}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.VUtext4__c}" label="Valor Unitario" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcantv3}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
              <!-----------------------------------------------> 
              <apex:inputField value="{!Presupuestador__c.Texto5__c}" label="Detalle">
                    <apex:actionSupport event="onchange" action="{!Preciosxcantv3}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
              <apex:inputField value="{!Presupuestador__c.CantText5__c}" label="Cantidad" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcantv3}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.VUtext5__c}" label="Valor Unitario" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcantv3}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
              <!-----------------------------------------------> 
               <apex:inputField value="{!Presupuestador__c.Texto6__c}" label="Detalle">
                    <apex:actionSupport event="onchange" action="{!Preciosxcantv3}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
              <apex:inputField value="{!Presupuestador__c.CantText6__c}" label="Cantidad" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcantv3}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
                
                <apex:inputField value="{!Presupuestador__c.VUtext6__c}" label="Valor Unitario" >
                    <apex:actionSupport event="onchange" action="{!Preciosxcantv3}" reRender="speditsect11,Tabla"></apex:actionSupport>
                </apex:inputField>
              
              <!----------------------------------------------->
               
                
                  <apex:inputField value="{!Presupuestador__c.Comentarios_Presupuesto__c}" >
                    
                </apex:inputField>
                 
                
            </apex:pageBlockSection>
            
            
            <apex:pageBlockSection title="" columns="4" id="pbs_selector5" rendered="{!presupuesto.Presupuestador__c == null}">
                <apex:pageMessage severity="error" title="Seleccione un Presupuestador"/>
                 
            </apex:pageBlockSection>
            </apex:outputPanel>
            
       
        
        <apex:pageBlockSection showHeader="true" collapsible="false" title="Selección" columns="1" id="Tabla">
            <apex:outputPanel id="thePanel" rendered="{!presupuesto.Presupuestador__c == 'Version 2' || presupuesto.Presupuestador__c == 'Version 1'}">

             
            <div class="slds-scope">
                
                <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                    <thead>
                        <tr class="slds-text-title_caps">
                            <th scope="col">
                                <div class="slds-truncate" title=" "></div>
                            </th>

                            <th scope="col">
                                <div class="slds-truncate" title="Item">Item</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Valor por unidad">Valor por unidad</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Valor Total">Valor Total</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="{!IF(Presupuestador__c.Curso_Obligatorio_2__c == null,"displaynone","d")}" >
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="Curso Obligatorio">Curso Obligatorio</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Curso_Obligatorio_2__c}">{!Presupuestador__c.Curso_Obligatorio_2__c}</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.UI1__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.UI1__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTI1__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTI1__c}</div>
                            </td>
                            
                        </tr>
                        <tr class="{!IF(Presupuestador__c.Curso_Opcional__c == '',"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="Curso Opcional">Curso Opcional</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Curso_Opcional__c}">{!Presupuestador__c.Curso_Opcional__c}</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.UI2__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.UI2__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTI2__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTI2__c}</div>
                            </td>
                            
                        </tr>
                        
                        <tr class="{!IF(Presupuestador__c.Hospedaje__c == '',"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="Hospedaje">Hospedaje</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Hospedaje__c}">{!Presupuestador__c.Hospedaje__c}</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.UI3__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.UI3__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTI3__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTI3__c}</div>
                            </td>
                            
                        </tr>
                        <tr class="{!IF(!Presupuestador__c.Inscripci_n__c,"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="Inscripción">Inscripción</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Inscripci_n__c}" style="{!IF(Presupuestador__c.Inscripci_n__c, 'display:block', 'display:none')}">
                                    <span class="checkmark">
                                        <div class="checkmark_stem"></div>
                                        <div class="checkmark_kick"></div>
                                    </span>
                                </div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.UIN__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.UIN__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTIN__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTIN__c}</div>
                            </td>
                            
                        </tr>
                        <tr class="{!IF(!Presupuestador__c.Materiales__c,"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="Materiales">Materiales</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Materiales__c}" style="{!IF(Presupuestador__c.Materiales__c, 'display:block', 'display:none')}">
                                    <span class="checkmark">
                                        <div class="checkmark_stem"></div>
                                        <div class="checkmark_kick"></div>
                                    </span>
                                </div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.UM__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.UM__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTM__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTM__c}</div>
                            </td>
                            
                        </tr>
                        <tr class="{!IF(!Presupuestador__c.GCC__c,"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="GCC">GCC</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.GCC__c}" style="{!IF(Presupuestador__c.GCC__c, 'display:block', 'display:none')}">
                                    <span class="checkmark">
                                        <div class="checkmark_stem"></div>
                                        <div class="checkmark_kick"></div>
                                    </span>
                                </div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.UG__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.UG__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTG__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTG__c}</div>
                            </td>
                            
                        </tr>
                        
                        <!--  Servicio de Limpieza -->
                        <tr class="{!IF(!Presupuestador__c.Servicio_de_Limpieza__c,"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="Servicio de Limpieza">Servicio de Limpieza</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Servicio_de_Limpieza__c}" style="{!IF(Presupuestador__c.Servicio_de_Limpieza__c, 'display:block', 'display:none')}">
                                    <span class="checkmark">
                                        <div class="checkmark_stem"></div>
                                        <div class="checkmark_kick"></div>
                                    </span>
                                </div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.USdl__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.USdl__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTSdl__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTSdl__c}</div>
                            </td>
                            
                        </tr>    
                        <!-- -->
                        
                        
                        <tr class="{!IF(Presupuestador__c.Traslado_desde_Aeropuerto__c == '',"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="Traslado desde el Aeropuerto">Traslado al Aeropuerto</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Traslado_desde_Aeropuerto__c}">{!Presupuestador__c.Traslado_desde_Aeropuerto__c}</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.UA1__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.UA1__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTA1__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTA1__c}</div>
                            </td>
                            
                        </tr>
                        <tr class="{!IF(Presupuestador__c.Seguro_Medico__c == '',"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="Seguro Medico">Seguro Medico</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Seguro_Medico__c}">{!Presupuestador__c.Seguro_Medico__c}</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.UA2__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.UA2__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTA2__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTA2__c}</div>
                            </td>
                            
                        </tr>
                        
                        <tr class="{!IF(Presupuestador__c.Visa__c == '',"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="Visa">Visa</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Visa__c}">{!Presupuestador__c.Visa__c}</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.UVs__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.UVs__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTVs__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTVs__c}</div>
                            </td>
                            
                        </tr>
                        
                        <tr class="{!IF(Presupuestador__c.Semanas_de_Verano__c == null,"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="Semanas de Verano">Semanas de Verano</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="Semanas de Verano">Semanas de Verano</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.USdv__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.USdv__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTsv__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTsv__c}</div>
                            </td>
                            
                        </tr>
                        
                        <tr class="{!IF(Presupuestador__c.Forma_de_Pago__c != 'Tarjeta de Crédito',"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="Recargo por Tarjeta de Crédito">Recargo por Tarjeta de Crédito</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Recargo_Tarjeta_de_Credito__c}">{!Presupuestador__c.Recargo_Tarjeta_de_Credito__c}</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.URtdc__c}"></div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTRtdc__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTRtdc__c}</div>
                            </td>
                            
                        </tr>
                        <tr>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="Comentarios">Comentarios</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Comentarios_Presupuesto__c}">{!Presupuestador__c.Comentarios_Presupuesto__c}</div>
                            </th>
                        </tr>
                        
                    </tbody>
                 </table>
                
            </div>
         </apex:outputPanel>
            
            <!----------------------------------------------->
            
            <apex:outputPanel id="thePanel2" rendered="{!presupuesto.Presupuestador__c == 'Version 3'}">
                <div class="slds-scope">
                
                <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                    <thead>
                        <tr class="slds-text-title_caps">
                            <th scope="col">
                                <div class="slds-truncate" title="hola"></div>
                            </th>

                            <th scope="col">
                                <div class="slds-truncate" title="Item">Item</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Valor por unidad">Valor por unidad</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Valor Total">Valor Total</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="{!IF(Presupuestador__c.Texto1__c == null,"displaynone","d")}" >
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="Curso Obligatorio">{!Presupuestador__c.Texto1__c}</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Texto1__c}">{!Presupuestador__c.Texto1__c}</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.VUtext1__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VUtext1__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTtext1__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTtext1__c}</div>
                            </td>
                            
                        </tr>
                        <tr class="{!IF(Presupuestador__c.Texto2__c == null,"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="opcion2">{!Presupuestador__c.Texto2__c}</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Texto2__c}">{!Presupuestador__c.Texto2__c}</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.VUtext2__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VUtext2__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTtext2__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTtext2__c}</div>
                            </td>
                            
                        </tr>
                        
                        <tr class="{!IF(Presupuestador__c.Texto3__c == null,"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="opcion3">{!Presupuestador__c.Texto3__c}</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Texto3__c}">{!Presupuestador__c.Texto3__c}</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.VUtext3__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VUtext3__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTtext3__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTtext3__c}</div>
                            </td>
                            
                        </tr>
                        <tr class="{!IF(Presupuestador__c.Texto4__c == null,"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="opcion4">{!Presupuestador__c.Texto4__c}</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Texto4__c}">{!Presupuestador__c.Texto4__c}</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.VUtext4__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VUtext4__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTtext4__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTtext4__c}</div>
                            </td>
                            
                        </tr>
                         <tr class="{!IF(Presupuestador__c.Texto5__c == null,"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="opcion5">{!Presupuestador__c.Texto5__c}</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Texto5__c}">{!Presupuestador__c.Texto5__c}</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.VUtext5__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VUtext5__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTtext5__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTtext5__c}</div>
                            </td>
                            
                        </tr>
                         <tr class="{!IF(Presupuestador__c.Texto6__c == null,"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="opción6">{!Presupuestador__c.Texto6__c}</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                
                                <div class="slds-truncate" title="{!Presupuestador__c.Texto6__c}">{!Presupuestador__c.Texto6__c}</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.VUtext6__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VUtext6__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTtext6__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTtext6__c}</div>
                            </td>
                            
                        </tr>
                        <tr class="{!IF(Presupuestador__c.Forma_de_Pago__c != 'Tarjeta de Crédito',"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="Recargo por Tarjeta de Crédito">Recargo por Tarjeta de Crédito</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Recargo_Tarjeta_de_Credito__c}">{!Presupuestador__c.Recargo_Tarjeta_de_Credito__c}</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.URtdc__c}"></div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTRtdc__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTRtdc__c}</div>
                            </td>
                            
                        </tr>
                        <tr>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="Comentarios">Comentarios</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Comentarios_Presupuesto__c}">{!Presupuestador__c.Comentarios_Presupuesto__c}</div>
                            </th>
                        </tr>
                        
                    </tbody>
                    </table>
                </div>
                    
                
            </apex:outputPanel>
            
            
            
        </apex:pageBlockSection>
       <!-----------------------------------------------> 
        <apex:pageBlockSection showHeader="true" collapsible="false" title="Totales" columns="2" id="speditsect11">
            <apex:pageblocksection columns="1" id="pbs_grandtotal">
                <apex:outputField id="total_all" style="width: 100px !important;column-width: 400px" value="{!Presupuestador__c.vTotal__c}"/>
                <apex:pageBlockSectionItem />
            </apex:pageblocksection>
            <apex:pageblocksection columns="2" id="pbs_grandtotal_usd">
                <apex:outputField id="total_all_usd" style="width: 100px !important;column-width: 400px" value="{!Presupuestador__c.vTotal_USD__c}" />
                <apex:pageBlockSectionItem />
            </apex:pageblocksection>
        </apex:pageBlockSection>
        
        
    </apex:pageBlock>
</apex:form>

<script>


$(document).ready(function() {    
    $("#startDate").val(document.getElementById("{!$Component.fm.pb.pbs_selector1_2.fecha_inicio2}").value); 
});

$(function() {
    $('.date-picker').datepicker( {
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                     'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'
                    ],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
                          'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'
                         ],
        dateFormat: 'MM yy',
        onClose: function(dateText, inst) { 
            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            $(this).datepicker('setDate', new Date(year, month, 1));
            var var1 = $(this).datepicker('setDate', new Date(year, month, 1)).val();
            document.getElementById("{!$Component.fm.pb.pbs_selector1_2.fecha_inicio2}").value = var1;
            
        }
    });
});

</script>

</apex:page>