<!--
 - Created by jotategui on 28/02/2018.
- Modify by Lujan Galvano 26/08/2019.
 -->

<apex:page id="VistaPresupuesto" standardController="Presupuestador__c" showHeader="false" standardStylesheets="false"
           sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0"><!--extensions="VistaPresupuestadorCtrl"-->
    <head>
        <apex:slds />
    </head>
    <Style>
        .displaynone{
        display: none;
        }

    </Style>
    
  
    <div class="slds-scope">
        

    <table class="slds-table slds-table_bordered slds-table_cell-buffer">
        <thead>
        <tr class="slds-text-title_caps">
            <th scope="col">
                <div class="slds-truncate" title=" "></div>
            </th>
            <th scope="col">
                <div class="slds-truncate" title="Item">Item</div>
            </th>
            <th scope="col">
                <div class="slds-truncate" title="Valor por unidad">Valor por unidad</div>
            </th>
            <th scope="col">
                <div class="slds-truncate" title="Valor Total">Valor Total</div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="{!IF(Presupuestador__c.Curso_Obligatorio_2__c == null,"displaynone","d")}" >
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="Curso Obligatorio">Curso Obligatorio</div>
            </th>
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="{!Presupuestador__c.Curso_Obligatorio_2__c}">{!Presupuestador__c.Curso_Obligatorio_2__c}</div>
            </th>
            <td data-label="Account Name">
                <div class="slds-truncate" title="{!Presupuestador__c.UI1__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.UI1__c}</div>
            </td>
            <td data-label="Close Date">
                <div class="slds-truncate" title="{!Presupuestador__c.VTI1__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTI1__c}</div>
            </td>

        </tr>
        <tr class="{!IF(Presupuestador__c.Curso_Opcional__c == null,"displaynone","d")}">
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="Curso Opcional">Curso Opcional</div>
            </th>
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="{!Presupuestador__c.Curso_Opcional__c}">{!Presupuestador__c.Curso_Opcional__c}</div>
            </th>
            <td data-label="Account Name">
                <div class="slds-truncate" title="{!Presupuestador__c.UI2__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.UI2__c}</div>
            </td>
            <td data-label="Close Date">
                <div class="slds-truncate" title="{!Presupuestador__c.VTI2__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTI2__c}</div>
            </td>

        </tr>
        <tr class="{!IF(Presupuestador__c.Hospedaje__c == null,"displaynone","d")}">
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="Hospedaje">Hospedaje</div>
            </th>
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="{!Presupuestador__c.Hospedaje__c}">{!Presupuestador__c.Hospedaje__c}</div>
            </th>
            <td data-label="Account Name">
                <div class="slds-truncate" title="{!Presupuestador__c.UI3__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.UI3__c}</div>
            </td>
            <td data-label="Close Date">
                <div class="slds-truncate" title="{!Presupuestador__c.VTI3__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTI3__c}</div>
            </td>

        </tr>
        <tr class="{!IF(Presupuestador__c.UIN__c == null,"displaynone","d")}">
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="Inscripción">Inscripción</div>
            </th>
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="{!Presupuestador__c.Inscripci_n__c}">{!Presupuestador__c.Inscripci_n__c}</div>
            </th>
            <td data-label="Account Name">
                <div class="slds-truncate" title="{!Presupuestador__c.UIN__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.UIN__c}</div>
            </td>
            <td data-label="Close Date">
                <div class="slds-truncate" title="{!Presupuestador__c.VTIN__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTIN__c}</div>
            </td>

        </tr>
        <tr class="{!IF(Presupuestador__c.UM__c == null,"displaynone","d")}">
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="Materiales">Materiales</div>
            </th>
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="{!Presupuestador__c.Materiales__c}">{!Presupuestador__c.Materiales__c}</div>
            </th>
            <td data-label="Account Name">
                <div class="slds-truncate" title="{!Presupuestador__c.UM__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.UM__c}</div>
            </td>
            <td data-label="Close Date">
                <div class="slds-truncate" title="{!Presupuestador__c.VTM__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTM__c}</div>
            </td>

        </tr>
        <tr class="{!IF(Presupuestador__c.GCC__c,"displaynone","d")}">
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="GCC">GCC</div>
            </th>
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="{!Presupuestador__c.GCC__c}">{!Presupuestador__c.GCC__c}</div>
            </th>
            <td data-label="Account Name">
                <div class="slds-truncate" title="{!Presupuestador__c.UG__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.UG__c}</div>
            </td>
            <td data-label="Close Date">
                <div class="slds-truncate" title="{!Presupuestador__c.VTG__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTG__c}</div>
            </td>

        </tr>
        <tr class="{!IF(Presupuestador__c.Traslado_desde_Aeropuerto__c == null,"displaynone","d")}">
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="Traslado desde el Aeropuerto">Traslado desde el Aeropuerto</div>
            </th>
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="{!Presupuestador__c.Traslado_desde_Aeropuerto__c}">{!Presupuestador__c.Traslado_desde_Aeropuerto__c}</div>
            </th>
            <td data-label="Account Name">
                <div class="slds-truncate" title="{!Presupuestador__c.UA1__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.UA1__c}</div>
            </td>
            <td data-label="Close Date">
                <div class="slds-truncate" title="{!Presupuestador__c.VTA1__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTA1__c}</div>
            </td>

        </tr>
            
        <tr class="{!IF(Presupuestador__c.Seguro_Medico__c == null,"displaynone","d")}">
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="Seguro Medico">Seguro Medico</div>
            </th>
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="{!Presupuestador__c.Seguro_Medico__c}">{!Presupuestador__c.Seguro_Medico__c}</div>
            </th>
            <td data-label="Account Name">
                <div class="slds-truncate" title="{!Presupuestador__c.UA2__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.UA2__c}</div>
            </td>
            <td data-label="Close Date">
                <div class="slds-truncate" title="{!Presupuestador__c.VTA2__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTA2__c}</div>
            </td>

        </tr>
            
        <tr class="{!IF(Presupuestador__c.Visa__c == null,"displaynone","d")}">
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="Visa">Visa</div>
            </th>
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="{!Presupuestador__c.Visa__c}">{!Presupuestador__c.Visa__c}</div>
            </th>
            <td data-label="Account Name">
                <div class="slds-truncate" title="{!Presupuestador__c.UVs__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.UVs__c}</div>
            </td>
            <td data-label="Close Date">
                <div class="slds-truncate" title="{!Presupuestador__c.VTVs__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTVs__c}</div>
            </td>

        </tr>

        <tr class="{!IF(Presupuestador__c.Adicional_3__c == '',"displaynone","d")}">
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="Adicional">Adicional</div>
            </th>
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="{!Presupuestador__c.Adicional_3__c}">{!Presupuestador__c.Adicional_3__c}</div>
            </th>
            <td data-label="Account Name">
                <div class="slds-truncate" title="{!Presupuestador__c.UA3__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.UA3__c}</div>
            </td>
            <td data-label="Close Date">
                <div class="slds-truncate" title="{!Presupuestador__c.VTA3__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTA3__c}</div>
            </td>

        </tr>
        
        <tr class="{!IF(Presupuestador__c.Partner__c != 'CELTIC',"displaynone","d")}">
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="Servicio de Limpieza">Servicio de Limpieza</div>
            </th>
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="{!Presupuestador__c.Servicio_de_Limpieza__c}">{!Presupuestador__c.Servicio_de_Limpieza__c}</div>
            </th>
            <td data-label="Account Name">
                <div class="slds-truncate" title="{!Presupuestador__c.URtdc__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.USdl__c }</div>
            </td>
            <td data-label="Close Date">
                <div class="slds-truncate" title="{!Presupuestador__c.VTSdl__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTSdl__c}</div>
            </td>

        </tr>
            
        <tr class="{!IF(Presupuestador__c.Partner__c != 'CELTIC',"displaynone","d")}">
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="Semanas de Verano">Semanas de Verano</div>
            </th>
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="Semanas de Verano">Semanas de Verano</div>
            </th>
            <td data-label="Account Name">
                <div class="slds-truncate" title="{!Presupuestador__c.USdv__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.USdv__c}</div>
            </td>
            <td data-label="Close Date">
                <div class="slds-truncate" title="{!Presupuestador__c.VTsv__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTsv__c}</div>
            </td>

        </tr>
            <tr class="{!IF(Presupuestador__c.Texto1__c == null,"displaynone","d")}" >
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="Curso Obligatorio">{!Presupuestador__c.Texto1__c}</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Texto1__c}">{!Presupuestador__c.Texto1__c}</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.VUtext1__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VUtext1__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTtext1__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTtext1__c}</div>
                            </td>
                            
                        </tr>
                        <tr class="{!IF(Presupuestador__c.Texto2__c == null,"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="opcion2">{!Presupuestador__c.Texto2__c}</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Texto2__c}">{!Presupuestador__c.Texto2__c}</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.VUtext2__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VUtext2__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTtext2__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTtext2__c}</div>
                            </td>
                            
                        </tr>
                        
                        <tr class="{!IF(Presupuestador__c.Texto3__c == null,"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="opcion3">{!Presupuestador__c.Texto3__c}</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Texto3__c}">{!Presupuestador__c.Texto3__c}</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.VUtext3__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VUtext3__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTtext3__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTtext3__c}</div>
                            </td>
                            
                        </tr>
                        <tr class="{!IF(Presupuestador__c.Texto4__c == null,"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="opcion4">{!Presupuestador__c.Texto4__c}</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Texto4__c}">{!Presupuestador__c.Texto4__c}</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.VUtext4__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VUtext4__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTtext4__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTtext4__c}</div>
                            </td>
                            
                        </tr>
                         <tr class="{!IF(Presupuestador__c.Texto5__c == null,"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="opcion5">{!Presupuestador__c.Texto5__c}</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Texto5__c}">{!Presupuestador__c.Texto5__c}</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.VUtext5__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VUtext5__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTtext5__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTtext5__c}</div>
                            </td>
                            
                        </tr>
                         <tr class="{!IF(Presupuestador__c.Texto6__c == null,"displaynone","d")}">
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="opción6">{!Presupuestador__c.Texto6__c}</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                
                                <div class="slds-truncate" title="{!Presupuestador__c.Texto6__c}">{!Presupuestador__c.Texto6__c}</div>
                            </th>
                            <td data-label="Account Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.VUtext6__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VUtext6__c}</div>
                            </td>
                            <td data-label="Close Date">
                                <div class="slds-truncate" title="{!Presupuestador__c.VTtext6__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTtext6__c}</div>
                            </td>
                            
                        </tr>
                      
            
            
            
        <tr class="{!IF(Presupuestador__c.Forma_de_Pago__c != 'Tarjeta de Crédito',"displaynone","d")}">
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="Recargo por Tarjeta de Crédito">Recargo por Tarjeta de Crédito</div>
            </th>
            <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="{!Presupuestador__c.Recargo_Tarjeta_de_Credito__c}">{!Presupuestador__c.Recargo_Tarjeta_de_Credito__c}</div>
            </th>
            <td data-label="Account Name">
                <div class="slds-truncate" title="{!Presupuestador__c.URtdc__c}"></div>
            </td>
            <td data-label="Close Date">
                <div class="slds-truncate" title="{!Presupuestador__c.VTRtdc__c}">{!Presupuestador__c.simbolodemoneda__c}{!Presupuestador__c.VTRtdc__c}</div>
            </td>
            
            

        </tr>
            <tr>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="Comentarios">Comentarios</div>
                            </th>
                            <th scope="row" data-label="Opportunity Name">
                                <div class="slds-truncate" title="{!Presupuestador__c.Comentarios_Presupuesto__c}">{!Presupuestador__c.Comentarios_Presupuesto__c}</div>
                            </th>
                        </tr>
            
        
            
        </tbody>
        
        
    </table>
    </div>

</apex:page>